@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: #f8f9fa;
  margin: 0%;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 120%;
  color: #000000;
  background-color: #FFFFFF;
}

.landing-Page-Container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url("Images/SpaceBackground.jpg");
  object-fit: fill;
  background-size: contain;
  overflow: hidden; /*Hides Scrollbar*/
}
.landing-Page-Top-Container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("Images/LandingPage.JPG");
  background-repeat: no-repeat;
  background-size: 100vw;
  object-fit: contain;
  background-position: 0% 40%;
  padding-bottom: 5%;
}

.landing-Page-Navbar {
  background-color: #4c759e;
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  max-width: 100vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  
}
.icon {
  width: 3.5vw;
  height: 100%;
  object-fit: contain;
}
.navtextleft {
  font-size: 1.6vw;
  color: #FFFFFF;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.navtextmiddle {
  font-size: 2vw;
  color: #FFFFFF;
  font-weight: bold;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.landing-Page-Right-Side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0%;
}
.landing-Page-Links-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  
}
.nav-Links {
  list-style: none;
  display: flex;
  gap: 1%;
  font-size: 1.2vw;
  padding-left: 0%;
  align-items: center;
  margin-bottom: 0%;
  align-content: center;
}
.nav-Links li {
  margin-right: 1vw;
  align-self: center;
  text-align: center;
}
.nav-Links a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
/* Add hover effect to navigation links */
.nav-Links a:hover {
  color: #2d3236;
}
.landing-Page-Link {
  display: contents;
}
.solid-Button-Container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: #FFFFFF;
  border: none;
  padding-top: 5%;
  padding-left: 1%;
  border-radius: 2.604vw;
  padding-right: 1%;
  padding-bottom: 5%;
  background-color: #370511ff;
  width: 16vw;
  height: 8vh;
  font-size: 1.3vw;
}
.landing-Page-Hero {
  flex: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  align-items: end;
  padding-top: 1%;
  padding-left: 2vw;
  padding-right: 8vw;
  flex-direction:column;
  padding-bottom: 0%;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 20vh;
}
.landing-Page-Content-Container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
}
.landing-Page-Text09 {
  font-size: 2.6vw;
}
.landing-Page-Subheading {
  font-size: 1.4vw;
  text-align: center;
}
.landing-Page-Text10 {
  padding-top: 6%;
  padding-bottom: 6%;
  font-size: 1.2vw;
}
.landing-page-link01 {
  display: contents;
}
.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: flex-start;
  background-color:  #FFFFFF;
  margin: 3%;
}
.landing-page-text15 {
  color: #595959;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: 2em;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 2em;
  align-items: flex-start;
  margin-bottom: 2em;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}
.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
}
.title-Card-Text {
  font-size: 20px;
  font-style: Poppins;
  font-weight: 700;
  padding-bottom: 0.5em;
  text-align: center;
}
.description-Card-Text {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: 2em;
  text-align: center;
}
.outline-button-button {
  color: #ffffff;
  padding-top: 1em;
  border-color: #370511ff;
  border-width: 1px;
  padding-left: 2em;
  border-radius: 50px;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: #370511ff;
}

header {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.text-center {
  text-align: center;
  margin: 0%;
  flex: auto;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #343a40;
  margin: 3%;
  margin-top: 5.5%;
}

.place-card-container img {
  width:  300px;
  height: 250px;
  object-fit: fill;
}

.footer {
  background-color: #4c759e;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  width: 95vw;
  height: 25vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;
}

#icons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: xx-large;
  flex-wrap: wrap;
}

#icons a:hover {
  color: #2d3236;
}